/*
* @Author: aicai
* @Date:   2017-10-17 15:12:13
* @Last Modified by:   aicai
* @Last Modified time: 2017-10-20 17:01:11
*/
@import url(base.css);
/* 头部开始 */
header{
	width: 100%;
	height: 90px;
	background:#191919; 
	padding-top: 30px;
	padding-bottom: 30px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
.head-left{
	height: 28px;
	float:left;
	font-size: 28px;
	line-height: 28px;
	color: white;
}
.head-left a{
	color: white;
}
.head-right{

	height: 30px;
	float: right;
}
.head-menu{
    height: 100%;
    float: right;
}
.head-menu2{
	display: block;
	width: 30px;
	height: 30px;
	font-size: 30px;
	text-align: center;
	line-height: 30px;
	float:right;
	color: white;
}
.head-menu2 i{
	font-size: 20px;
}
.head-menu2:hover{
	color:#01B7F5 ;
}
.head-menu li{
	width: auto;
	height: 30px;
	float: left;
	margin-right: 30px;
}
.head-menu li:last-child{
	margin-right: 0;
}
.head-menu li a{
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	color: white;
}
.head-menu li:hover a{
	color:#01B7F5 ;
}

/* 头部结束 */
/* banner开始 */
.banner-bac{
	width: auto;
	height: 661px;
	margin-top: 90px;
}
.banner-tp{
	width: 100%;
	height: 100%;
	background: url('../img/banner.jpg') no-repeat;/* 
	background-position:-400px 0; */
	animation: bjdh 15s infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
    
}
@keyframes bjdh{
   0%{
	background-position: -400px 0;
   }
   100%{
	background-position: 0px 0;
   }
}
.banner-zhezhao{
	padding-top: 250px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	 transition: all 1s;
}
.banner-zhezhao:hover{
	background-color: rgba(0, 0, 0, 0.5);
}
.banner-zhezhao:hover .banner-hy{
	 transform: rotate(360deg);
	 font-size: 50px;
}
.banner-hy{
	display: block;
	font-size: 25px;
	color: white;
	text-align: center;
    transition: all 1s;
}
/* benner结束 */
/* about开始 */
.about{
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding-top: 55px;
	padding-bottom: 120px;
}
.about-title{
	/* width: 600px; */
	height: auto;
	margin-bottom: 50px;
	margin: 0 auto;
	
}
.about-title h3{
	display: block;
	height: auto;
	width: 100%;
	margin: 0 auto;
	font-size: 36px;
	line-height: 36px;
	text-align: center;
	margin-bottom: 10px;
}
.about-title p{
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	margin-bottom: 45px;
	color: #9A9B99;
}
.about-left{
	/* height: 360px; */
	/* background: red; */
}
.about-left img{
	display: block;
	width: 100%;
	height: 100%;
}
.about-right{
	height: 360px;
	/* background: yellow; */
}
.myjj{
	font-size: 36px;
	line-height: 36px;
	padding-bottom: 15px;
}
.jjtext{
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 2px;
	text-indent: 2em;
}
/* about结束 */
/* ourservice开始 */
.skills{
	width: 100%;
	height: auto;
	padding-top: 155px;
	padding-bottom: 120px;
	background: #F3F3F4;
}
.skills-title{
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.skills-title h3{
	font-size: 36px;
	height: 36px;
	line-height: 36px;
	margin-bottom: 10px;
	text-align: center;
}
.skills-title p{
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	margin-bottom: 45px;
	color: #9A9B99;
}
.skill{
	height: auto;
	display: block;
	/* background: red; */
	
	padding: 0 15px;
}
.skill-nr{
	width: 100%;
	height: 100%;
   margin-bottom: 30px;
   padding: 30px;
   background: white;
   transition: all 0.5s;
}
.skill-nr:hover{
	box-shadow: 0 5px 5px 2px rgba(157, 157,157, 0.5);
	transform: translateY(-3px);
}
.skill-tp{
	width: 32px;
	height: 32px;
	margin: 0 auto;
	/* background: red; */
	
}
.skill-tp i{
	display: block;
	font-size: 32px;
	line-height: 32px;
	text-align: center;
}
.skill-lb{
	/* width: 300px; */
	padding: 10px 0;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 10px;
}
.skill-jj{
	display: block;
	/* width: 300px; */
	margin: 0 auto;
	font-size: 14px;
	line-height: 24px;
	color:#9A9B99 ;
	text-align: center;
}
/* ourservice结束 */
/* myproduct开始 */
.products{
	width: 100%;
	height: auto;
	padding: 120px 0;
	background: #F3F3F4;
	margin: 0 auto;
}
.products-title{
	width: 600px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 50px;
}
.products-title h3{
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 10px;
}
.products-title p{
	display: block;
	margin: 0 auto;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color:  #9A9B99;
}
.products-menu{
	width: auto;
	margin: 0 auto;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.products-menu li{
	font-size: 16px;
	line-height: 28px;
	/* margin: 0 auto; */
	margin-left: 25px;
	float: left;
	padding-bottom: 2px;
	
	
}
.products-menu li a{
	color: #979797;
	padding-bottom: 2px;
}
.products-menu li a:hover{
	color: #000;

}
.product{
	/* height: 200px; */
	/* background: white; */
	
}
.product {
	margin-top: 2px;
	height: auto;
	border: 8px solid #F3F3F4 ;
}
.product-nr{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	transition: all 1s;
}
.product-tp{

	height: 100%;
}
.product-tp img{
	display: block;
	width: 100%;
	height: 100%
}
.product-yy{
	width: 100%;
	height: 100%;
	/* background: red; */
	background: rgba(0, 0, 0, 0.5);
	position: relative;
}
.product-sousuo{
	display: block;
    color: white;
    position: absolute;
    top: 35%;
     left:0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.product-sousuo i{
	display: block;
	width: 100%;
	height: 100%;
    border-radius: 50%;
}
.product-sousuo i:hover{
	background: skyblue;
}
.product-ts{
	font-size: 5px;
	line-height: 15px;
	text-align: center;
	color: white;
	 position: absolute;
    top: 55%;
    left:0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s;
}
.product-lb{
	font-size: 5px;
	line-height: 13px;
	text-align: center;
	color: white;
	 position: absolute;
    top: 70%;
     left:0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s;
}
.product-nr:hover .product-ts{
	font-size: 15px;
} 
.product-nr:hover .product-lb{
	font-size: 13px;
} 
.product-nr:hover .product-yy{
	
	position: absolute;
	top: 0;
	left: 0;
}
/* myproduct结束 */
/* contanct开始 */
.contact-bac{
	width: 100%;
	height: auto;
	padding-top: 120px;
	padding-bottom: 120px;
}
.contact-title{
	height: auto;
	margin-bottom: 50px;
}
.contact-title h3{
	margin: 0 auto;
	font-size: 36px;
	line-height: 36px;
	text-align: center;
	margin-bottom: 10px;
}
.contact-title p{
	display: block;
	margin: 0 auto;
 
	font-size: 14px;
	line-height: 22px;
	color:  #9A9B99;
	text-align: center;
	margin-bottom: 10px;
}

.contact-let{
   /* height: 200px; */
   float: left;
   padding-left: 15px;
    padding-right: 15px;
   /* background: red; */
}
.contact-rit{
   /* height: 200px; */
   float: right;
    padding-left: 15px;
    padding-right: 15px;
   /* background: blue; */
}
input{
	display: block;
	width: 100%;
	border: 1px solid #e4e7e9;
	border-radius: 5px;
	padding: 10px 15px;
	margin-bottom: 20px;
	font-size: 15px;
	line-height: 24px;
	color: #a3a8ab;
	outline: none;
}
.form-bt{ 
	height: 46px;
}
.form-zz{
	height: 46px;
}
.form-nr{
	height: 166px;
	resize: none;
}
.form-tj{
	width: 80px;
	height: 40px;
	background: black;
	padding: 15px 10px;
	outline: none;
	font-size: 10px;
	line-height: 10px;
	text-align: center;
}
.contact-rit div{
	width: 100%;
	height: 60px;
	margin-bottom: 30px;
	/* background: red; */
}
.contact-rit div .contact-tb{
	width: 60px;
	height: 60px;
	float: left;
	/* background: yellow; */
	margin-right: 15px;
}
.contact-rit div .contact-tb i{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 55px;
	line-height: 60px;
	text-align: center;
}
.contact-rit div .contact-wz{
	width:215px;
	/* height: 52px; */
	float: left;
	/* background: blue; */
	font-size: 16px;
	line-height: 26px;
	color: #959595;
}
/* contanct结束 */
/* 尾部开开始 */
footer{
	width: 100%;
	height: auto;
	background: #0d1218;
	padding-bottom: 42px;
	padding-top: 42px;
	position: relative;
}
.foot-kuai{
	display: block;
	width: 36px;
	height: 36px;
	position: absolute;
	top: 0;
	right: 50%;
	background: #0d1218;
	transform: translateX(50%) translateY(-50%) rotate(45deg);	
}
.foot-kuai:hover{
 	background: #00BFFF;
 }
 .container .foot-kuai i{
 	display: block;
 	width: 100%;
 	height: 100%;
 	font-size: 30px;
 	line-height: 38px;
 	text-align: center;
 	color: white;
 	transform:  rotate(-45deg);	
 }
.foot-let{
	float: left;
}
.foot-let p{
	font-size: 14px;
	line-height: 24px;
	padding: 6px 0;
	color: white;
}
.foot-rit{
	float: right;
}
.foot-rit ul{
	float: right;
}
.foot-rit ul li{
   width: 36px;
   height: 36px;
   border-radius: 50%;
   float: left;
   /* background: red; */
   margin-right: 5px;
}
.foot-rit ul li:hover{
	background: skyblue;
}
.foot-rit ul li a i{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 20px;
	line-height: 36px;
	text-align: center;
	color: #333;
}

/* 尾部结束 */
/* 响应式开始 */
/* 手机端 */
@media screen and (max-width: 768px){
    .myjj{
		margin-top: 30px;
	}
	.about-title{
      width: auto;
	}
	.skills-title{
		width: auto;
	}
	.products-menu{
		width:auto;
	}
	.products-title{
		width: auto;
	}
	/* .row{
	width: auto;
	margin: 0 auto;
    } */
    .product-sousuo{
    	width: 25px;
    	height: 25px;
    }
    .product-sousuo i{
     line-height: 25px;
     text-align: center;
	 font-size: 25px; 
    }
    .product-nr:hover .product-ts{
	font-size: 18px;
    } 
   .product-nr:hover .product-lb{
	font-size: 16px;
    } 
    .contact-title p{
    	width: auto;
    }
    .contact-rit div .contact-wz{
    	width: 185px;
    }
    .head-menu{
    	display: block;
    }
    .head-right{
    	display: none;
    }

}
/* 平板端 */
@media screen and (max-width: 992px) and (min-width: 768px){
	.myjj{
		margin-top: 30px;
	}
	.skills-title{
		width: 600px;
	}
	.about-title{
      width: 600px;
	}
	.products-menu{
		width:720px;
	}
	.products-title{
		width: 600px;
	}
	/* .row{
	width: 750px;
	margin: 0 auto;
    } */
    .product-sousuo{
    	width: 35px;
    	height: 35px;
    }
    .product-sousuo i{
     line-height: 35px;
     text-align: center;
	 font-size: 35px; 
    }
    .product-nr:hover .product-ts{
	font-size: 15px;
    } 
   .product-nr:hover .product-lb{
	font-size: 13px;
    } 
    .contact-title p{
    	width: 600px;
    }
    .contact-rit div .contact-wz{
    	width: 220px;
    }
    .head-menu2{
    	display: none;
    }
    .head-right{
    	display: block;
    }
}
/* pc大屏 */
@media screen and (max-width: 1200px) and (min-width: 992px){
	.about-title{
      width: 600px;
	}
	.skills-title{
		width: 600px;
	}
	.products-menu{
		width:948px;
	}
	.products-title{
		width: 600px;
	}
	/* .row{
	width: 970px;
	margin: 0 auto;
    } */
    .product-sousuo{
    	width: 35px;
    	height: 35px;
    }
    .product-sousuo i{
     line-height: 35px;
     text-align: center;
	 font-size: 35px; 
    }
    .product-nr:hover .product-ts{
	font-size: 15px;
    } 
   .product-nr:hover .product-lb{
	font-size: 13px;
    } 
    .contact-title p{
    	width: 600px;	
    }
    .contact-rit div .contact-wz{
    	width: 185px;
    }
    .head-menu2{
    	display: none;
    }
    .head-right{
    	display: block;
    }
}
/* pc小屏 */
@media screen and (min-width: 1200px){
    .about-title{
      width: 600px;
	}
	.skills-title{
		width: 600px;
	}
	.products-menu{
		width:1140px;
	}
	.products-title{
		width: 600px;
	}
	/* .row{
	width: 1140px;
	margin: 0 auto;	
    } */
    .product-sousuo{
    	width: 35px;
    	height: 35px;
    }
    .product-sousuo i{
     line-height: 35px;
     text-align: center;
	 font-size: 35px; 
    }
    .product-nr:hover .product-ts{
	font-size: 15px;
    } 
   .product-nr:hover .product-lb{
	font-size: 13px;
    } 
    .contact-title p{
    	width: 600px;
    }
    .contact-rit div .contact-wz{
    	width: 215px;
    }
    .head-menu2{
    	display: none;
    }
    .head-right{
    	display: block;
    }

}